{% extends 'base.html' %}
{% block title %}Об актёрах{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Актёры</h1>
    <h5>Дэниел Рэдклифф</h5>
    <p>
        Дэниел Рэдклифф исполнил роль Гарри Поттера. Он начал сниматься в фильмах с детства и быстро стал всемирной звездой. 
        После «Поттерианы» он участвовал в театральных постановках и независимом кино.
    </p>
    <h5>Эмма Уотсон</h5>
    <p>
        Эмма Уотсон сыграла Гермиону Грейнджер. Помимо актёрской карьеры, она известна своей активной позицией по защите прав женщин, 
        являясь послом доброй воли ООН.
    </p>
    <h5>Руперт Гринт</h5>
    <p>
        Руперт Гринт исполнил роль Рона Уизли. После завершения серии фильмов он продолжил сниматься в кино и сериалах, 
        а также занялся бизнесом в сфере недвижимости.
    </p>
</div>
{% endblock %}
