{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Об авторе</h1>
    <p>
        Автор знаменитой серии книг — Дж. К. Роулинг, британская писательница, сценарист и филантроп. 
        Её история вдохновляет миллионы: будучи матерью-одиночкой и живя на пособие, она написала первую книгу о Гарри Поттере, 
        которую сначала отвергли десятки издательств. Сегодня её произведения переведены на более чем 80 языков, 
        проданы сотни миллионов копий, а экранизации принесли миллиардные сборы.
    </p>
</div>
{% endblock %}
