{% extends 'base.html' %}

    {% block title %}
        Персонажи фильма
    {% endblock %}

{% block content %}

<div class="container mt-4"><div class="row justify-content-center"><div class="col-12 col-md-4 d-flex justify-content-center mb-4">
<div class="card" style="width: 300px;">
<img alt="Герой 1" class="card-img-top" src="../static/image/user1.jpg" style="width: 100%;"/>
<div class="card-body">
<h5 class="card-title">Герой 1</h5>
<p class="card-text">Описание героя 1.</p>
<a class="btn btn-primary" href="#">Подробнее</a>
</div>
</div>
</div>
    <div class="col-12 col-md-4 d-flex justify-content-center mb-4">
<div class="card" style="width: 300px;">
<img alt="Герой 2" class="card-img-top" src="../static/image/user2.jpg" style="width: 100%;"/>
<div class="card-body">
<h5 class="card-title">Герой 2</h5>
<p class="card-text">Описание героя 2.</p>
<a class="btn btn-primary" href="#">Подробнее</a>
</div>
</div>
</div>
    <div class="col-12 col-md-4 d-flex justify-content-center mb-4">
<div class="card" style="width: 300px;">
<img alt="Герой 3" class="card-img-top" src="../static/image/user3.jpg" style="width: 100%;"/>
<div class="card-body">
<h5 class="card-title">Герой 3</h5>
<p class="card-text">Описание героя 3.</p>
<a class="btn btn-primary" href="#">Подробнее</a>
</div>
</div>
</div>


{% endblock %}